@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Christopher Church Of God</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--This is a commit-->
    <div class="container-fluid">
        <div class="ratio ratio-16x9">
            <iframe class="rounded-3" src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FChristopherChurchofGod%2Fvideos%2F778209200320045%2F&show_text=false&width=560&t=0"
                    style="border:none;overflow:hidden"
                    scrolling="no" frameborder="0" allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                    allowFullScreen="true">
            </iframe>
        </div>
        <div>
            <button type="button" class="btn btn-primary">Watch Services</</button>
        </div>
        <br />
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9 shadow p-3 mb-3 bg-body-tertiary rounded-pill border border-2 border-black">
                <h3>Christopher Church Of God Welcomes you!</h3>
            </div>
            <div class="col-6 shadow p-3 mb-3 bg-body-tertiary rounded border border-2 border-black">
                <ul class="list-unstyled text-center">
                    <li>
                        <h5>Hours of Operation:</h5>
                        <ul>
                            <li>10 AM Sunday School</li>
                            <li>11 AM Sunday Morning Worship Service</li>
                            <li>6:30 PM Wednesday Night Bible Study</li>
                            <li>A fourth item</li>
                            <li>And a fifth one</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-6 shadow p-3 mb-3 bg-body-tertiary rounded border border-2 border-black">
                <ul class="list-unstyled text-center d-grid gap-2">
                    <li>
                        <h5>Learn More:</h5>
                    </li>
                    <li><a class="btn btn-primary rounded-pill" href="#" role="button">Pastors Daniel and June Madden</a></li>
                    <li><a class="btn btn-primary rounded-pill" href="#" role="button">About</a></li>
                    <li><a class="btn btn-primary rounded-pill" href="#" role="button">Photos</a></li>
                    <li><a class="btn btn-primary rounded-pill" href="#" role="button">Ministry's'</a></li>
                    <li><a class="btn btn-primary rounded-pill" href="#" role="button">Events</a></li>
                    <li><a class="btn btn-primary rounded-pill" href="#" role="button">Giving</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9 shadow p-3 mb-3 bg-body-tertiary rounded-pill border border-2 border-black">
                <h3>How to get involved:</h3>
            </div>
            <div class="col-12 shadow p-3 mb-3 bg-body-tertiary rounded border border-2 border-black">
                <ul class="list-unstyled">
                    <li>
                        <h5>Ministry's:</h5>
                        <ul>
                            <li>Adult Sunday School Teacher</li>
                            <li>Teen Sunday School Teacher</li>
                            <li>Childrens Sunday School Teacher</li>
                            <li>Praise and Worship Service Team</li>
                            <li>Adult Wednesday Night Bible Study Teacher</li>
                            <li>Teen Wednesday Night Teacher</li>
                            <li>Children Wednesday Night Teacher</li>
                            <li>Childrens Sunday Teacher</li>
                            <li>Teen Sunday Teacher</li>
                            <li>Sunday School Cook</li>
                            <li>Wednesday Night Cook</li>
                            <li>Custodian</li>
                            <li>Lawn Care</li>
                            <li>Greeter</li>
                            <li>Parking lot Patrol</li>
                            <li>See more on Ministry page with task discription</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-8 shadow p-3 mb-3 bg-body-tertiary rounded border border-2 border-black">
                <ul class="list-unstyled text-center d-grid gap-2">
                </ul>
            </div>
        </div>
    </div>

    <a href="https://www.google.com" target=_self title="This take you to google">
        Google
    </a>
</body>
</html>

